---
// 接收文章标题、描述和链接作为属性
const { meta_title, description, slug, className } = Astro.props;
---

<div class={`social-share ${className}`}>
  <!-- AddToAny BEGIN -->
  <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
    <a class="a2a_button_wechat"></a>
    <a class="a2a_button_sina_weibo"></a>
    <a class="a2a_button_evernote"></a>
    <a class="a2a_button_twitter"></a>
  </div>
  <script define:vars={{ title: meta_title, description, url: slug }}>
    // 设置 AddToAny 配置
    window.a2a_config = window.a2a_config || {};
    window.a2a_config.linkname = title;
    window.a2a_config.linkurl = window.location.href;
  </script>
  <script defer src="https://static.addtoany.com/menu/page.js"></script>
  <!-- AddToAny END -->
</div>